# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.swp
*.swo
log*
.cproject
.project
.settings
*.tmp
*.lock
*.log

# LaTeX
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.bak

# pics and metapost
pics/*.eps
pics/*.pdf
pics/*.mpx
pics/mpxerr.tex
pics/*.png
